In [ ]:
# Pandas : data berbentuk table

# **Pandas Dataframe**

In [2]:
# Library

import pandas as pd
import numpy as np

## **1. Create Data Frame**
___

**Syarat Membuat Data Frame**
1. Punya data berbentuk 2 dimensi (WAJIB)
- List
- Array
- Dictionary
2. Membuat nama kolom (optional)
3. Membuat nama baris (optional)

In [17]:
# Create DF dengan List

np.random.seed(100)

nama = "Achmad Wilson Ria Eril Dadang".split()
usia = np.random.randint(20,31,5)
data = [nama,usia]

df1 = pd.DataFrame(data).T
df1.columns = ['Nama', 'Usia']
df1

     Nama Usia
0  Achmad   28
1  Wilson   28
2     Ria   23
3    Eril   27
4  Dadang   27

In [19]:
# Create DF dengan Dictionary

df2 = pd.DataFrame({
    'Nama Student' : nama,
    'usia' : usia
})

df2

  Nama Student  usia
0       Achmad    28
1       Wilson    28
2          Ria    23
3         Eril    27
4       Dadang    27

In [24]:
# Soal 1

np.random.seed(100)

Nama = "Adele Beyonce Camila Donald Eminem Ferguson Gaga Hillary Indro Joko".split()
Umur = np.random.randint(23,32,9)
Gender = np.random.randint(Perempuan, Laki-Laki)
Pekerjaan = np.random.randint(Data_Scientist, Marketing)
Domisili = np.random.randint(Jakarta, Surabaya)
data = [Nama, Umur, Gender, Pekerjaan, Domisili]

df1 = pd.DataFrame(data).T
df1.columns = ['Nama', 'Umur', 'Gender', 'Pekerjaan', 'Domisili']
df1

NameError: name 'Perempuan' is not defined

## **2. Indexing di Data Frame**
___

**Bahasan :**
1. Memanggil column
2. Fungsi .loc & .iloc
3. Conditional statement

In [26]:
# Akses DataFrame dari Kolom

df3['Pekerjaan']

NameError: name 'df3' is not defined